body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: teal;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  /* visibility: hidden; */
  display: none;
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  background-color: rgba(0, 128, 128, 0.8);
  color: white;
  transition: height 0.5s linear 0.5s;
  z-index: 9999;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #333;
  cursor: pointer;

}

.auth-form {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth-form form label,
.auth-form form input,
.auth-form form button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

#mobileMenu,
#searchQuickAccess {
  color: white;
  font-size: 2em;
  padding: 1rem;
}

.error {
  color: crimson;
}

#map { 
  height: 40vh; 
  /* border-radius: 8px;
  box-shadow: 2px 2px 6px #999; */
}

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

.landing section:first-child {
  display: flex;
  height: 100%;
  background-color: #BFE5EE;
  justify-content: center;
  align-items: center;
}
